.acknowledgements-spacer {
  height: 100vh;
  height: calc(var(--full-screen-vh, 1vh) * 100);
  position: relative;
}

.acknowledgements-container {
  width: 100%;
  display: flex;
}

.acknowledgements-content {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
}

@media (max-width: 1024px) {
  .acknowledgements-content {
    font-size: 1rem;
  }
}
