.acknowledgements-spacer {
  height: 100vh;
  height: calc(var(--full-screen-vh, 1vh) * 100);
  position: relative;
}

@supports (height: 100lvh) {
  .acknowledgements-spacer {
    height: 100lvh;
  }
}

.acknowledgements-container {
  width: 100%;
  display: flex;
}

.acknowledgements-content {
  width: 100%;
  padding: 1rem;
  font-size: 1.125rem;
}

@media (max-width: 768px) {
  .acknowledgements-content {
    font-size: 1.25rem;
  }
}

.acknowledgements-content p:first-of-type::first-letter {
    -webkit-initial-letter: 2;
            initial-letter: 2;
    color: black;
    /* font-weight: bold; */
    margin-right: .75em;
}