.acknowledgements-container {
  width: 100%;
  display: flex;
  scroll-snap-align: center;
  margin-top: 25vh;
}

.acknowledgements-content {
  width: 100%;
  padding: 1rem;
  font-size: 1.125rem;
}

@media (max-width: 768px) {
  .acknowledgements-content {
    font-size: 1.25rem;
  }
}
