.project-title {
  font-size: 3rem;
  line-height: 1;
  font-weight: 400;

  text-align: center;
  /* h1 reset */
  margin-block-start: 0;
  margin-block-end: 0;
}

@media (max-width: 768px) {
  .project-title {
    font-size: 2.5rem;
  }
}
