.project-title {
  /* TODO: add media query for tablet and desktop font size */
  font-size: 48px;
  font-weight: 400;

  display: flex;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
  height: 15vh;
  height: calc(var(--full-screen-vh, 1vh) * 15);
}

@media (max-width: 1024px) {
  .project-title {
    font-size: 32px;
  }
}

@media (max-width: 700px) {
  .project-title {
    font-size: 24px;
  }
}
