#montepoeli-video {
  border-radius: 8px;
  max-height: 80vh;
  cursor: pointer;
}

#montepoeli-content {
  grid-area: 1/1;
  display: flex;
  justify-content: center;
}

#description {
  grid-area: 2/1;
  margin-top: 20px;
}
