/* TODO: add different font-size for mobile */
#content-container {
  display: flex;
  justify-content: center;
  line-height: 1.6;
  font-size: 1rem;
}

@media (max-width: 768px) {
  #content-container {
    font-size: 1.125rem;
  }
}

#project-content {
  /* 
   * TODO: the max-width here is 800px because I do not want it to go bigger then that
   * if it does it is possible that the iframes start scrolling. The width of the container is ultimatly 
   * determined by widest iframe. But that logic is not really clear right now 
   */
  max-width: 800px;
}

.project-spacer {
  position: relative;
  height: 100vh;
  height: calc(var(--full-screen-vh, 1vh) * 100);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.without-spacing-scroll-down {
  /* 
   * 1rem comes from the margin bottom of the scroll down element. This is subtract 
   * because otherwise the spacing feelings like more than 100vh 
   */
  height: calc(calc(var(--full-screen-vh, 1vh) * 100) - 1rem);
}

.project-introduction #container {
  margin-bottom: 18%;
  max-width: 800px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.project-introduction #title {
  text-align: center;
  font-size: max(4vw, 2rem);
  font-weight: 400;
  justify-content: center;
  align-items: center;
}
