#content-container {
  display: flex;
  justify-content: center;
  line-height: 1.6;
  font-size: 16px;
}

#project-content {
  /* TODO: the max-width here is 800px because I do not want it to go bigger then that
    if it does it is possible that the iframes start scrolling. The width of the container is ultimatly 
    determined by widest iframe. But that logic is not really clear right now */
  max-width: 800px;
}

.project-spacer {
  height: 100vh;
  height: calc(var(--full-screen-vh, 1vh) * 100);
}

.project-spacer-small {
  height: 5vh;
  height: calc(var(--full-screen-vh, 1vh) * 5);
}

#info-icon {
  position: fixed;
  top: 1%;
  right: 1%;
  z-index: 2;
  text-align: right;
  cursor: pointer;
  font-size: 16px;
}

#contact-info {
  /* This right and top value are used to anchor the contact-info to the info-icon */
  right: calc(1% + 23px);
  top: calc(1% + 23px);
  position: fixed;
  z-index: 3;
  padding: 16px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  border-radius: 8px;
}
