body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Using a class selector the style does not get applied, not sure why. only this one isn't the other once are respected. */
video {
  max-width: 100%;
}
